/* to prevent long press issue (long press on anchors will popup ios menu (to open it? or to copy the link blabla) */
/* same as long press on the texts */
body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

/*----------*/
.tim-common-input-right-icon {
    position:absolute;
    right:0.8em;
    top:0.9em;
}

.tim-main-corner .ui-bar {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}
.tim-main-corner .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.common-background-overlay {
    opacity: 0.5;
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}

.common-name-highlight {
    color: #16a085;
}
.common-form-error {
    color: #c1392b;
}
.tim-main-content {
    padding: 0 0.5em;
}

.tim-menu-avatar-div {
    width:100%;
    text-align:center;
    margin-top: 50px;
}
.tim-menu-avatar-img {
    width: calc(100% / 2);
    border-radius: 60px;
    margin-top: 25px;
}
.tim-menu-collapsible-li {
    border: medium none !important; padding:0
}
.tim-menu-collapsible-a {
    padding: 11px 2.5em !important;
}
.tim-menu-collapsible-subdiv {
    opacity:0.8;
}
.tim-border-bottom-1px-solid-eee {
    border-bottom: 1px solid #fff !important;
}

/* -----panel scroll won't cause main content scrolling ---- */
.ui-loader-default {
    opacity: 0.5;
}
.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
/* -----end - panel scroll won't cause main content scrolling ---- */

/*------common footer-------*/
.common-footer > div > ul > li > a.common-footer-icon {
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 22px auto;
    font-weight: normal;
    padding: 35px 4px 5px 4px;
}
.common-footer > div > ul > li > a.common-footer-icon:hover {
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 22px auto;
    font-weight: normal;
    padding-top: 35px;
    padding-bottom:5px;
}
.common-footer > div > ul > li > a.common-footer-home, .common-footer > div > ul > li > a.common-footer-home:hover {
    background-image: url("../img/icon_home.png");
}
.common-footer > div > ul > li > a.common-footer-studentinfo, .common-footer > div > ul > li > a.common-footer-studentinfo:hover {
    background-image: url("../img/icon_human.png");
}
.common-footer > div > ul > li > a.common-footer-schoolinfo, .common-footer > div > ul > li > a.common-footer-schoolinfo:hover {
    background-image: url("../img/icon_file.png");
}
.common-footer > div > ul > li > a.common-footer-studentlife, .common-footer > div > ul > li > a.common-footer-studentlife:hover {
    background-image: url("../img/icon_things.png");
}
.common-footer > div > ul > li > a.common-footer-advanceservice, .common-footer > div > ul > li > a.common-footer-advanceservice:hover {
    background-image: url("../img/icon_computer.png");
}
.common-footer > div > ul > li > a:after {
    /*background-color: transparent;*/
}
/*------end common footer-------*/

/*-----------popup common dialog--------*/
#popupCommonDialog {
    z-index: 1999;
    min-width: 100px;
    max-width: 180px;
    min-height: 50px;
    background-color: #fff;
    font-size: 0.9em;
}
#popupCommonDialog > h3 {
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}
#popupCommonDialog > p {
    margin: 10px 5px 40px 5px;
}
/*-----------end popup common dialog--------*/

/*--------popupCommonTextPost--------*/
#popupCommonTextPost {
    background-color: #fff;
    max-height: 400px;
    overflow: auto;
}
#popupCommonTextPost > #popupCommonTextPost_Title {
    margin-top: 25px;
}
#popupCommonTextPost > a.ui-icon-delete {
    right:1px;
    top:1px;
}
#popupCommonTextPost > p {
    word-break: break-all;
}
/*--------end popupCommonTextPost--------*/

/*--------popupAboutUs--------*/
#popupAboutUs {
    background-color: #fff;
    max-height: 400px;
    overflow: auto;
    text-align: center;
    padding: 3em 0.8em;
}
#popupAboutUs > h3 {
    margin-bottom: 30px;
}
#popupAboutUs > a.ui-icon-delete {
    right:1px;
    top:1px;
}
#popupAboutUs > p {
    word-break: break-all;
}
#popupAboutUs > p.aboutus-logo {
    background-color:red;
}
#popupAboutUs > p.aboutus-logo > img {
    width: 50%;
}
/*--------end popupAboutUs--------*/

/*--------left menu------*/
#panelMenu {
    background-color: transparent;
    background-image: url("../img/draw.png");
}
#panelMenu .common-panel-menu {
    /*background-color: #3498db;*/
}
#panelMenu .common-panel-menu > li {
    background-color: transparent;
    color: white;
}
#panelMenu .common-panel-menu > li > a {
    background-color: transparent;
    color: white;
}
#panelMenu .common-panel-menu > li > a:after {
    background-color: transparent;
}
#panelMenu .common-panel-menu > li:first-child {
    background-color: transparent;
    font-weight: bold;
    /*background-image: url('../img/Paris.jpg');
    background-size: 400px;
    background-repeat: no-repeat;*/
}
#panelMenu .common-panel-menu > li:last-child {
    margin-bottom: 130px;
}
/*----------end left menu---------*/

/*---------messager----------*/
#panelMessager {
    padding: 0 0.3em;
    border: 0 none;
}
#panelMessager > .ui-panel-inner {
    top: 0;
}
#panelMessager div.ui-field-contain {
    padding: 0.3em;
}
#panelMessager div.ui-field-contain > label {
    display: none;
}
#panelMessager div.ui-field-contain > button {
    font-size: 0.8em;
}
/*---------end messager----------*/


/*-----index page-------*/
#div_index_login {
    padding: 0 0.3em;
    text-align: center;
}
#div_index_login > h2 {
    margin-top: 1em;
    margin-bottom: 0;
}
#div_index_login > div.ui-field-contain {
    padding: 0.3em;
}
#div_index_login > div.ui-field-contain > label {
    display: none;
}
#div_index_login > div.ui-field-contain > button {
    font-size: 0.8em;
}
/*-----end index page-------*/

/*-----------home page-----------*/
#h2_home_header_logo {
    margin: 0 0.3em;
    padding: 0.4em 0 0.1em;
}
#div_home_header_name_datetime {
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    height: 22px;
    margin-left: -1px;
}
#div_home_header_student_name {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 10px;
    padding-top: 2px;
}
#div_home_header_datetime_text {
    float: right;
    font-size: 0.7em;
    margin-right: 5px;
    margin-top: 3px;
}
#div_home_banner {
    width:100%;
}
#img_home_banner {
    width: 100%; height: auto;
}
#p_home_time_weather {
    margin: 0 0 0 10px;
    font-size: 0.8em;
}
#ul_home_msg_notice {
    font-size:0.8em;
    line-height:0.9em;
}
#ul_home_msg_notice > li {
  height: 30px;
}
#ul_home_msg_notice > li:first-child {
  height: auto;
}
#ul_home_msg_notice > li > a.a_home_msg_notice {
    font-weight: normal;
}
#ul_home_msg_notice > li > a.a_home_msg_notice:after {
    background: none;
}
#ul_home_activities > li {
    border-bottom: 1px solid #16a085;
}
#ul_home_activities > li > a {
    padding-top: 0;
}
#ul_home_activities > li > a:after{
    background-color: #16a085;
}
#ul_home_activities > li > a > h2 {
    margin-top: 0;
}
#ul_home_activities > li > a > img:first-child {
    max-height: auto;
}
#ul_home_school_news {
    font-size:0.8em;
    line-height:0.9em;
}
#ul_home_school_news > li {
  height: 30px;
}
#ul_home_school_news > li:first-child {
  height: auto;
}
#ul_home_school_news > li > a.a_home_school_news {
    font-weight: normal;
}
#ul_home_school_news > li > a.a_home_school_news:after {
    background-color: #16a085;
}
/*-----------end home page-----------*/

/*---------school info page-------*/
#div_schoolinfo_navbar {
    margin-top: 5px;
}
#ul_schoolinfo_navbar > li > a {
    border-color: gray;
}
#div_schoolinfo_teachers, #div_schoolinfo_school_intro, #div_schoolinfo_around_school {
    min-height: 700px;
}
#ul_schoolinfo_teachers {
    font-size:0.8em;
    line-height:0.9em;
}
#ul_schoolinfo_teachers > li {
    border: 1px solid #55d98d;
    border-top: none;
}
#ul_schoolinfo_teachers > li.liTeacherItem > a > p {
    font-size: 0.85em;
    font-weight: normal;
    height: 40px;
    line-height: 1.1em;
    overflow: auto;
    white-space: normal;
}

#ul_schoolinfo_teachers > li > a > h2 {
    margin-top: -0.5em;
}
#ul_schoolinfo_teachers > li > a > p.tim-schoolinfo-teachercomment {
    font-size: 0.9em;
}
#ul_schoolinfo_teachers > li > a.tim-schoolinfo-teacher-msg {
    background-color: #ddd;
    background-color: rgba(0,0,0,0.1);
    border: none;
}
#ul_schoolinfo_teachers > li > a.tim-schoolinfo-teacher-msg:after {
    background-color: transparent;
    background-image: url('../img/icon_msg_gray.png');
    background-size: 1.4em;
}
#div_schoolinfo_teachers_messager {
    padding: 0 0.3em;
    width: 15em;
}
#div_schoolinfo_teachers_messager > div.ui-field-contain {
    padding: 0.3em;
}
#div_schoolinfo_teachers_messager > div.ui-field-contain > label {
    display: none;
}
#div_schoolinfo_teachers_messager > div.ui-field-contain > button {
    font-size: 0.8em;
}

#ul_schoolinfo_aroundschool > li {
    border-bottom: 1px solid #16a085;
}
#ul_schoolinfo_aroundschool > li > a {
    padding-top: 0;
}
#ul_schoolinfo_aroundschool > li > a:after{
    background-color: #16a085;
}
#ul_schoolinfo_aroundschool > li > a > h2 {
    margin-top: 0;
}
#ul_schoolinfo_aroundschool > li > a > img:first-child {
    max-height: 10em;
}
/*---------end school info page-------*/

/*----------student life page--------*/
#ul_studentlive_activities {
    font-size: 0.8em;
    line-height: 0.9em;
}
#div_studentlife_gary {
    margin-top: 5px;
    font-size: 0.8em;
    min-height: 145px;
}
#div_studentlife_gary > img {
    float: left;
    margin-right: 5px;
}
/*----------end student life page--------*/

/*--------student info page-------*/
#ul_studentinfo_studentinfo {
    font-size: 0.8em;
    line-height: 1em;
    margin-top: 10px;
    border-top: 1px solid #55d98d;
    border-bottom: 1px solid #55d98d;
    padding-left: 10px;
    border-radius: 0;
}
#ul_studentinfo_studentinfo > li {
    background: none;
}
#ul_studentinfo_studentinfo > li > #img_studentinfo_avatar {
    border-radius: 60px;
    margin-top: 10px;
}
#ul_studentinfo_studentinfo > li > h2 {
    margin: 0;
    margin-top: 10px;
}
#ul_studentinfo_studentinfo > li > p {
    margin: 3px 0;
    font-size: 0.95em;
}
#div_studentinfo_img_gallery {
    margin-bottom: 10px;
}
#div_studentinfo_img_gallery .ui-bar {
    padding: 0.3em 1em;
    font-size: 0.9em;
}
#div_studentinfo_img_gallery .ui-body {
    padding: 0.2em;
}
#div_studentinfo_img_gallery_panel img.photothumbnail {
    max-height: 80px;
}
#div_studentinfo_img_gallery_panel img.popphoto {
    max-height: 512px;
}
#imgShowContent img {
    width: 100%;
}
#div_studentinfo_grades_list  .ui-bar {
    padding: 0.3em 1em;
    font-size: 0.9em;
}
#div_studentinfo_grades_list {
    margin-top: 10px;
}
#div_studentinfo_grades_list > .ui-body {
    padding: 6px 5px;
    overflow-y: auto;
    min-height: 300px;
}
#div_studentinfo_grades_list > .ui-body > fieldset {
    margin-top: 0;
}
#div_studentinfo_grades_list > .ui-body > fieldset legend {
    font-size: 0.85em;
}
#div_studentinfo_transcriptlist {
    font-size: 0.8em;
    margin-left: 15px;
    margin-top: 20px;
    width: 90%;
}
#div_studentinfo_transcriptlist > ul {
    border: 1px solid #ddd;
}
#div_studentinfo_transcriptlist > ul > li {
    border-bottom: 1px solid #ddd;
}
#div_studentinfo_transcriptlist > ul > li > a{
    font-weight: normal;
}
#table_studentinfo_grades {
    border-spacing: 0;
    width: 100%;
}
#table_studentinfo_grades th, #table_studentinfo_grades td {
    border: 1px solid gray;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 24%;
}
#table_studentinfo_grades th {
    font-size: 0.85em;
}
#table_studentinfo_grades td {
    font-size: 0.75em;
}
/*--------end student info page-------*/

/*-----------advance service page------------*/
#div_advanceservice_buttongroup {
    width:100%;
    margin-top:-2px;
    text-align: center;
    border: 1px solid #55d98d;
}
#div_advanceservice_buttongroup > div.ui-controlgroup {
    margin: 0;
}
#div_advanceservice_buttongroup .tim-advanceservice-icon {
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 0.65em;
    font-weight: normal;
    width: 50px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-top: 2px;
}
#div_advanceservice_buttongroup .tim-advanceservice-icon:after {
    background-color: transparent;
}
#div_advanceservice_buttongroup #a_advanceservice_plane {
    background-image: url("../img/icon_plane_gray.png");
}
#div_advanceservice_buttongroup #a_advanceservice_invitation {
    background-image: url("../img/icon_invitation_gray.png");
}
#div_advanceservice_buttongroup #a_advanceservice_application {
    background-image: url("../img/icon_application_gray.png");
}
#div_advanceservice_buttongroup #a_advanceservice_message {
    background-image: url("../img/icon_message_gray.png");
}
#ul_advanceservice_list {
    font-size: 0.8em;
}
#ul_advanceservice_list > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #16a085;
}
#ul_advanceservice_list > li > a:after {
    background: none
}
#ul_advanceservice_list > li > a > p.msg_timestamp {
    font-size: 0.7em;
}

#div_advanceservice_pickup,
#div_advanceservice_invitation,
#div_advanceservice_application {
    padding: 0 0.3em;
    width: 15em;
    max-height: 30em;
    overflow: auto;
}
#div_advanceservice_pickup > div.ui-field-contain,
#div_advanceservice_invitation > div.ui-field-contain,
#div_advanceservice_application > div.ui-field-contain {
    padding: 0.3em;
}
#div_advanceservice_pickup > div.ui-field-contain > label,
#div_advanceservice_invitation > div.ui-field-contain > label,
#div_advanceservice_application > div.ui-field-contain > label {
    display: none;
}
#div_advanceservice_pickup > div.ui-field-contain > button,
#div_advanceservice_invitation > div.ui-field-contain > button,
#div_advanceservice_application > div.ui-field-contain > button {
    font-size: 0.8em;
}
/*-----------end advance service page------------*/

/*-----common post page--------*/
#div_commonpost_maincontent > h3 {
    font-weight: bold;
    margin-bottom: 0;
}
#div_commonpost_postdate {
    float: right;
    font-size: 0.75em;
    margin-right: 15px;
}
#div_commonpost_body {
    border-top: 1px solid #ddd;
}
#div_commonpost_maincontent > div.ui-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#div_commonpost_maincontent > div.ui-body > p > img {
    width: 100%;
}
/*-----end common post page--------*/

/*-----transcript page--------*/
#div_transcript_postdate {
    float: right;
    font-size: 0.75em;
    margin-right: 15px;
}
#div_transcript_body {
    border-top: 1px solid #ddd;
}
#tbl_transcript {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 12px;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
#tbl_transcript th, #tbl_transcript td {
    line-height: 22px;
    border: 1px solid #ddd;
}
#tbl_transcript th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}
/*-----end transcript page--------*/


/*----------teacherinfo page--------*/
#div_teacherinfo_detail {
    margin-top: 5px;
    font-size: 0.8em;
    min-height: 145px;
}
#div_teacherinfo_detail > img {
    float: left;
    margin-right: 5px;
    max-width: 35%;
}
#ul_teacherinfo_groups {
    font-size: 0.8em;
    line-height: 0.9em;
}
#ul_teacherinfo_groups > li.li_teacherinfo_groups_item {
    border: 1px solid #ddd;
    min-height: 30px;
    padding: 3px;
}
#ul_teacherinfo_groups > li.li_teacherinfo_groups_classname {
    background-color: #aaa;
    border: 0 none;
    color: #fff;
    font-size: 0.9em;
    margin-top: 1px;
}
#ul_teacherinfo_groups > li > table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 12px;
    padding: 0;
    width: 100%;
    margin-bottom: 1px;
}
#ul_teacherinfo_groups > li > table th, #ul_teacherinfo_groups > li > table td {
    line-height: 22px;
    border: 1px solid #ddd;
}
#ul_teacherinfo_groups > li > table th {
  text-align: left;
}
/*----------end teacherinfo page--------*/


/*------------teacher vote page-------------*/
#ul_teachervote_teachers {margin: 25px 0 0 0;}
#ul_teachervote_teachers > li {border-color:#ddd;background-color:#eee; font-size:0.8em;padding:8px 0 8px 8px;}
#ul_teachervote_teachers > li.current-select {background-color:#fff;}
#ul_teachervote_teachers > li.not-all-voted { color: #c1392b; }

#btn_teachervote_submit {font-size:11px; margin: 5px;}

#div_teachervote_items {width:72%;float:left; margin:0;}
#div_teachervote_className {font-size:1em; padding:5px;height:25px;}
#div_teachervote_items > .ul_teachervote_items {margin:0 0 60px 0; height: 500px; overflow-y:scroll; border:0; display:none;}
#div_teachervote_items > .ul_teachervote_items > li {border: 1px solid #ddd;padding:2px 5px;}
#div_teachervote_items > .ul_teachervote_items > li > label {max-width: 65%; font-size:0.8em;white-space:normal;}
#div_teachervote_items > .ul_teachervote_items > li.ui-field-contain > label {float:left;}
#div_teachervote_items > .ul_teachervote_items > li.ui-field-contain > div.ui-select > div.ui-btn {width:15px;float:right; margin-top:2px;}



/*------------end teacher vote page-------------*/

/*---------------settings page--------------*/
#div_settings_avatar {margin-top: 10px; margin-bottom:30px; text-align: center; width: 100%;}
#div_settings_avatar img.avatar {border-radius: 60px; margin-top: 25px; width: calc(100% / 3);}
#div_settings_menugroup {font-size:0.9em; padding: 0 15px;}
#div_settings_menugroup .settings-menu-item {margin-top:1px;}
#div_settings_menugroup .settings-menu-item:first-child {margin-top:0;}
#div_settings_menugroup .settings-menu-item a {font-weight:normal;}
#div_settings_menugroup .settings-menu-item .ui-collapsible-content {border-color: #f2f2f2;}
#div_settings_menugroup a.ui-btn.itembtn {font-size:11px; background: #16a085 none repeat scroll 0 0; border-color: #16a085; color: #fff;}

#div_settings_changepassword div.ui-field-contain {padding:0.3em;}
#div_settings_changepassword div.ui-field-contain div.ui-input-text {margin:0;background-color:#ffffff;}

/*---------------end settings page--------------*/